/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 20px;
  left: 25px;
  top: 25px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #04DEAD;
}

.bm-cross {
  width: 1px !important;
  height: 20px !important;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #04DEAD;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #04DEAD;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
  text-align: left;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

#root,
#outer-container {
  height: 100%;
}

.bm-item-list > div {
  border-bottom: 1px solid #04DEAD;
  padding: 15px;
  transition: border-width .125s ease-in-out;
}

.bm-item-list > div:hover {
  border-width:  5px;
  font-weight: bold;
}


.bm-item-list > div a{
  display: flex;
}

.bm-item-list > div a svg {
  margin-right: 10px;
}